<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href='https://fonts.googleapis.com/css?family=Francois+One|Titillium+Web:400,900' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.1/d3.js"></script>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	@Html.Partial("_PartialVisualizationMenu")
	<div class="container body-content">
		@RenderBody()
	</div>
	@Html.Partial("_PartialMapsMenu")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/Site")
	@RenderSection("scripts", required: false)
</body>
</html>
